node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
data/*pgdata*/
data/*pgdata*
data/**/PG_VERSION
data/**/base/
data/pgdata/
data/pgdata/*
data/test_pgdata/
data/test_pgdata/*
*.pgdata
*.pgdata/
data/geoip/*.mmdb
data/geoip/*.tar.gz
data/geoip/*.gz
